@model Zaput
<!DOCTYPE html>
<html>
<head>
    <title>HardQueries</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        p {
            font-size: 16px;
            margin-top: 20px;
        }

        form {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        input[type="text"] {
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button[type="submit"] {
            padding: 8px 16px;
            font-size: 14px;
            background-image: linear-gradient(to right, #005BBC, #FFD500, #005BBC);
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 10px;
        }

            button[type="submit"]:hover {
                background-image: linear-gradient(to right, #04569C, #FFC800, #04569C);
            }
    </style>
</head>
<body>
    <h1>Queries</h1>

    <form asp-action="HardQ1">
        <p style="margin-right:20px"><b>Query 1:</b> Some sentence</p>
        <input asp-for=OrdeId type="text" placeholder="Enter input">
        <input asp-for=oid type="text" placeholder="Enter input">
        <button type="submit">Submit</button>
        <label style="font-size:30px;text-align:center;display:block" class="text-danger">@TempData["Error3"]</label>
        <label style="font-size:30px;text-align:center;display:block" class="text-danger">@TempData["Error4"]</label>
        <label style="font-size:30px;text-align:center;display:block" class="text-danger">@TempData["Error228"]</label>
    </form>

    <form asp-action="HardQ2">
        <p style="margin-right:20px"><b>Query 2:</b> Some sentence</p>
        <input asp-for=oid type="text" placeholder="Enter input">
        <input asp-for=OrdeId type="text" placeholder="Enter input">
        <button type="submit">Submit</button>
        <label style="font-size:30px;text-align:center;display:block" class="text-danger">@TempData["Error5"]</label>
        <label style="font-size:30px;text-align:center;display:block" class="text-danger">@TempData["Error6"]</label>
        <label style="font-size:30px;text-align:center;display:block" class="text-danger">@TempData["Error1488"]</label>
    </form>

    <form asp-action="HardQ3">
        <p style="margin-right:20px"><b>Query 3:</b> Some sentence</p>
        <input asp-for=oid type="text" placeholder="Enter input">
        <input asp-for=OrdeId type="text" placeholder="Enter input">
        <button type="submit">Submit</button>
        <label style="font-size:30px;text-align:center;display:block" class="text-danger">@TempData["Error7"]</label>
        <label style="font-size:30px;text-align:center;display:block" class="text-danger">@TempData["Error8"]</label>
        <label style="font-size:30px;text-align:center;display:block" class="text-danger">@TempData["Error337"]</label>
    </form>
</body>
</html>


