<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid #ddd;
    }

    th {
        background-color: black;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .product-cell {
        font-weight: bold;
        color: black;
    }

    h1, h2 {
        color: #333;
    }

    .highlight {
        background-color: #ffc;
    }
</style>

@model Zaput

@if (Model.queryId == 1)
{
    <h1>Отримайте загальну кількість продуктів у кожному замовленні</h1>

    <table>
        <thead>
            <tr>
                <th>id-Шник</th>
                <th>Кількість продуктів</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ides.Count; i++)
            {
                <tr>
                    <td class="product-cell">
                        @Model.ides[i]
                    </td>
                    <td>
                        @Model.ProductCount[i]
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.queryId == 2)
{
    <h2>Кількість продуктів у кожному замовленні</h2>

    <table>
        <thead>
            <tr>
                <th>Ім'я товару</th>
                <th>Дозування</th>
                <th>Темін придатності</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Names.Count; i++)
            {
                <tr>
                    <td class="product-cell">
                        @Model.Names[i]
                    </td>
                    <td>
                        @Model.Dozirovka[i]
                    </td>
                    <td>
                        @Model.TerminPrudatn[i]
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.queryId == 3)
{
    <h1>Всі продукти замовлені певним користувачем</h1>

    <table>
        <thead>
            <tr>
                <th>Ім'я товару</th>
                <th>Ордер каунт</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Names.Count; i++)
            {
                <tr>
                    <td class="product-cell">
                        @Model.Names[i]
                    </td>
                    <td>
                        @Model.OrderCount[i]
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.queryId == 4)
{
    <h1>Отримати користувачів, які розмістили замовлення на певний тип доставки</h1>

    <table>
        <thead>
            <tr>
                <th>id-шник</th>
                <th>Ім'я</th>
                <th>Прізвище</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ides.Count; i++)
            {
                <tr>
                    <td class="product-cell">
                        @Model.ides[i]
                    </td>
                    <td class="product-cell">
                        @Model.Names[i]
                    </td>
                    <td class="product-cell">
                        @Model.LastNames[i]
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.queryId == 5)
{
    <h1>Отримати користувачів</h1>
    <table>
        <thead>
            <tr>
                <th>id-шник</th>
                <th>Адреса Доставки</th>
                <th>Тип доставки</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ides.Count; i++)
            {
                <tr>
                    <td class="product-cell">
                        @Model.ides[i]
                    </td>
                    <td class="product-cell">
                        @Model.DeliveryAdress[i]
                    </td>
                    <td class="product-cell">
                        @Model.ShipTypeName[i]
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.queryId == 6)
{
    <h1>Отримати унікальні ідентифікатори замовлень</h1>

    <table>
        <thead>
            <tr>
                <th>id-шник</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ides.Count; i++)
            {
                <tr>
                    <td class="product-cell">
                        @Model.ides[i]
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.queryId == 7)
{
    <h1>Отримати ідентифікатори замовлень</h1>

    <table>
        <thead>
            <tr>
                <th>Id-шник</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ides.Count; i++)
            {
                <tr>
                    <td class="product-cell">
                        @Model.ides[i]
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.queryId == 8)
{
    <h1>Отримати ідентифікатори замовлень</h1>

    <table>
        <thead>
            <tr>
                <th>Id-шник</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ides.Count; i++)
            {
                <tr>
                    <td class="product-cell">
                        @Model.ides[i]
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
