@model IEnumerable<DeBiLaba2.Models.PaymentType>

@{
    ViewData["Title"] = "Index";
}

<style>
    .table {
        background: linear-gradient(to bottom, #9c27b0, #673ab7);
        color: white;
    }

        .table th {
            color: white;
        }

        .table tbody tr:nth-child(even) {
            background-color: rgba(255, 255, 255, 0.1);
        }
</style>

<h1>Таблиця типу оплати</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
